@font-face {
    font-family: poppines;
    src: url(./fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: publicSans;
    src: url(./fonts/Public_Sans/PublicSans-VariableFont_wght.ttf);
}
body{
    font-family:  publicSans !important;
}
a{
    text-decoration: none !important;
    color: black;
}
.live-btn{
    font-size: 12px !important;
}