@font-face {
  font-family: poppines;
  src: url(./fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: publicSans;
  src: url(./fonts/Public_Sans/PublicSans-VariableFont_wght.ttf);
}
body {
  font-family: poppines !important;
}
.carousel-item{
  font-family: publicSans !important;
}
a {
  text-decoration: none !important;
  color: black ;
}
.upcoming-box p, .letter-spacing {
  letter-spacing: 5px;
  font-size: 11px;
}
.live-btn {
  font-size: 12px !important;
}
.small-round-box {
    width: 50px;
    height: 50px;
  font-size: 20px;
  background-color: #4E4E4E;
}
.carousel-content {
  margin-bottom: 6%;
}
img{
  object-fit: cover;
}
.dark-gradient-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0) 100%);
}
.small-text{
  font-size: 15px;
}
/* animation */
.loader {
    width: 52px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
    radial-gradient(farthest-side,#fff 14%,#0000) top/1px 1px no-repeat,
    conic-gradient(#0000 30%,#fff);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
    position: absolute;
}
.text-lightGray{
  color: #959599;
}
.text-darkGray{
  color: #adb5bd;
}
.filter-brightness{
  filter: brightness(0.4);
}
/* footer */
.footer-links > ul > li{
  width: 175px;
  max-width: 49%;
}
@keyframes l13{ 
    100%{transform: rotate(1turn)}
}

@media screen and (max-width: 1195px) {
  .round-images {
    top: 1px !important;
    left: 2px;
    margin-left: 5%;
  }
  .carousel-content {
    margin-bottom: 8%;
  }
}





/* sana section */
    section.m-nasa-img .card{
     height: 281px;
     }
     section.m-nasa-img .card a{
         border: 2px solid transparent;
     }       
    .card a:focus{
         border-right: 3px solid #2491FF;
         border-bottom: 3px solid #2491FF;
     }
     section.m-nasa-img .img1a{
         width: 250px;
         height: 100%;
         overflow: hidden;
         object-fit: cover;
         grid-row-start: 1;
         grid-row-end: 3;
     }
     section.m-nasa-img .img2a{
         width: 160px;
         height: 100%;
         overflow: hidden;
         object-fit: cover;
         grid-row-start: 1;
         grid-row-end: 2;
     }
     section.m-nasa-img .img3a{
         width: 160px;
         height: 100%;
         overflow: hidden;
         object-fit: cover;
         grid-row-start: 2;
         grid-row-end: 3;
     }
     section.m-nasa-img .card-title{
         font-size: medium;
     }
     section.m-nasa-img .card-text{
         margin-right: 3rem;
         color: #77777a;
         fill: #77777a;
         display: block;
         font-family: "dm-mono";
         font-style: normal;
         font-weight: 500;
         font-size: .7rem;
         line-height: 1em;
         letter-spacing: 3.5px;
         text-transform: uppercase;
     }
     @media screen and (max-width: 1100px){
         section.m-nasa-img .card{
             width: 100%;
             overflow: hidden;       
         }
         section.m-nasa-img .box{
             padding: 0px;
             min-width: 0%;
             height: 217px;
             display: grid;
             grid-template-columns: 1fr .75fr;
             grid-template-rows: 1fr 1fr;
             gap: .3rem;
         }
     }
      @media screen and (min-width: 1100px){
         section.m-nasa-img .card{
             width: 100%;
             overflow: hidden;       
         }
         section.m-nasa-img .box{
             padding: 0px;
             min-width: 90%;
             height: 217px;
             display: grid;
             grid-template-columns: 1fr .75fr;
             grid-template-rows: 1fr 1fr;
             gap: .3rem;
         }
        }
        /* ------------------------------privacy page css-------------------------------- */
        .privacy-policy{
          margin-top: 40px;
      }
      .detail-arrow a{
          border-bottom: 1px solid #1b1b1b;
          color:carbon-black;
      }
      .seperator{
          width: 100%;
          height: 40px;
      }
      
      .center-t{
          max-width: 52.5rem;
          color: #1b1b1b;
      }

      /* ------------------------------images pages css------------------------ */

     .equql{
       width: 400px;
       height: 400px;
       overflow: hidden;
       padding: 10px 10px 5px 10px;
      }
     .equql img{
     object-fit: cover;
     width: 100%;
     height: 100%;
     overflow: hidden;
     padding: 0px 10px 10px 10px;
    }

